.Controller{
  color: #8d8d8d;
  padding: 10px 15px;
  overflow: hidden;
}

.ControllerBox{
  width: 50%;
  margin: 0 auto;
}
.icon-shangyishou{
  margin-left: 10px;

}
.icon-bofang1{
  margin-left: 35px;
  position: relative;
  top:-3px;
}
.icon-bofang{
  margin-left: 35px;
  position: relative;
  top:0px;
}
.icon-kuaijin{
  margin-left: 30px;  
}
.icon{
  font-size: 30px;
}